@CHARSET "UTF-8";



.mtoolbar{
background:url(images/bak.gif);
border-color:silver;
border-style:solid;
border-width:0 1px;
height:30px;
font-family:tahoma;
font-size:12px;
line-height:30px;
margin:0 auto;
/*overflow:hidden;*/
width:95%;
text-align:center;
}
.mtoolbar a{
color: #16387C;
text-decoration:none;
}
.mtoolbar a:hover{
color: #369;
text-decoration:underline;
}
.mtoolbar-rightCorner, .mtoolbar-leftCorner{
background-repeat: no-repeat;
height:30px;
width:5px;
}
.mtoolbar ul, .mtoolbar li{
list-style:none;
margin:0;
padding:0;
}
ul.mtoolbar-links, .mtoolbar-time, .mtoolbar-prayTimes, .mtoolbar-weather, .mtoolbar-country{
display:block;
float:left;
min-width:150px;
}
ul.mtoolbar-links{
display:block;
float:right;
}
ul.mtoolbar-links li{
	border-left:1px solid silver;
	float:right;
	padding:0 10px;
}
ul.mtoolbar-links li a{}
ul.mtoolbar-links ul{
margin-left:-75px;
}
ul.mtoolbar-links ul li{
border-color:silver;
border-right:1px solid silver;
border-style:none solid solid;
border-width:medium 1px 1px;
float:none;
width:125px;
}

.clear{clear: both;}
.mtoolbar-prayTimes{}
.mtoolbar-prayTimes li{display:none}
.mtoolbar-prayTimes li:last-child{display:block}
.mtoolbar-flags li{
cursor: pointer;
border-color:silver;
border-style:none solid solid;
border-width:medium 1px 1px;
float:none;
width:125px;
}

/* 
	LEVEL ONE
*/
ul.mtbarDropdown{ position: relative;  }
ul.mtbarDropdown li a{ display: block; width: 100% }
ul.mtbarDropdown li:last-child a{ } /* Doesn't work in IE */
ul.mtbarDropdown li.hover,
ul.mtbarDropdown li:hover{ position: relative; }
ul.mtbarDropdown li.hover a{  }


/* 
	LEVEL TWO
*/
ul.mtbarDropdown ul{ visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.mtbarDropdown ul li{  }
									  
/* IE 6 & 7 Needs Inline Block */
ul.mtbarDropdown ul li a{ display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.mtbarDropdown ul ul{ left: 100%; top: 0; }
ul.mtbarDropdown li:hover > ul{ visibility: visible; }